{% extends './base.html'%}


{% block content %}
    
    
<h1><button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ADD OFFICER
      </button></h1>



        <table class="table table-straped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name.</th>
                    <th scope="col">Address.</th>
                    <th scope="col">Gender.</th>
                    <th scope="col">Birth Date.</th>
                    <th scope="col">Contact.</th>
                    <th scope="col">Grade.</th>
                    <th scope="col">Photo.</th>
                </tr>
            </thead>
            <tbody>

                {% for officer in officers %}
                    <tr>
                        <th scope="row">{{officer.id}}</th>
                        <th scope="row">{{officer.name}}</th>
                        <th scope="row">{{officer.address}}</th>
                        <th scope="row">{{officer.gender}}</th>
                        <th scope="row">{{officer.birth_date}}</th>
                        <th scope="row">{{officer.contact}}</th>
                        <th scope="row">{{officer.grade}}</th>
                        <th scope="row">

                            <img src="{{officer.photo.url}}" width="50px" height="50px"/>
                        </th>

                        <td>
                            <a href="{% url 'edit_officer_page' officer.id %}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'delete_officer_page' officer.id %}" 
                            onclick="return confirm('Are you sure you want to delete this officer')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
    
                        </td>
                    </tr>
                    {% endfor %}
                
            </tbody>



        </table>
    
   
{% endblock content %}