<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN FROM THIS PAGE</h1>

    <form>
        <input type="text" name="" id="" placeholder="USERNAME ">
        <input type="text" name="" id="" placeholder="PASSWORD">
        <button>SUBMIT</button>
    </form>

    <a href="{% url 'client_page'%}">Clients Page</a>
    <a href="{% url 'deployment_page'%}">deployment page</a>
    <a href="{% url 'officer_page'%}">Officers Page</a>
</body>
</html>